
<section>
    <h1 class="text-center text-main my-4"> Forget Password</h1>
@if(step==1){
    <form action="" [formGroup]="verifyemail" (submit)="verifyemailSubmit()" class="bg-main-light rounded-4 shadow p-3">
        <div class="my-2">
           <label for="email">Email</label>
           <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <button type="submit" [disabled]="verifyemail.invalid" class="btn btn-main">Verify Email</button>
    </form>
   
}
  

@else if(step==2){
    <form action="" [formGroup]="verifycode" class="bg-main-light rounded-4 shadow p-3" (submit)="verifycodeSubmit()">
        <div class="my-2">
           <label for="resetCode">Reset Code</label>
           <input type="number" id="resetCode" class="form-control" formControlName="resetCode">
        </div>
        <button type="submit" [disabled]="verifycode.invalid" class="btn btn-main">Verify Email</button>
    </form>    
}
 
@else if(step==3){
    <form action="" [formGroup]="resetpassword" class="bg-main-light rounded-4 shadow p-3" (submit)="resetpasswordSubmit()">
        <div class="my-2">
            <input readonly value="" type="email" id="email" class="form-control" formControlName="email">

           <label for="newPassword">New Password</label>
           <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
        </div>
        <button [disabled]="resetpassword.invalid" class="btn btn-main">Verify Email</button>
    </form>
}

</section>